
.example-spacer {
  flex: 1 1 auto;
}

.Main-container {
  padding-top: 20px;
  margin: 0 auto;

  max-width: 900px;
}
.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px 16px 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
}

.sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: blueviolet;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}


.menu-button mat-icon {
  margin-right: 8px;
}


.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.logo img {
  width: 80px;
  height: 40px;
  object-fit: contain;
}

.example-tab-icon {
  margin-right: 8px;
}

.tab-content {
  margin: 0 auto;
}

.catalogue {
  margin-right: 5px;
}



.mat-mdc-form-field {

  width: 100%;
}
.example-container {
  width: 1400px;
  height: 1200px;
  margin: 10px;
}



