<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Formation Title</span>
    <span class="spacer"></span>
    <button mat-button>Download PDF</button>
    <button mat-button>Watch Video</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="formation-description">
        <h2>Description</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus laoreet felis sit amet ex bibendum, nec placerat leo ornare. In hac habitasse platea dictumst. Sed at blandit quam. Praesent lacinia libero odio, at posuere nibh laoreet et. Suspendisse pulvinar vitae tellus quis congue. Fusce non tellus eget metus convallis facilisis vitae a quam. Donec rutrum, ante in bibendum tincidunt, magna orci aliquet arcu, a molestie augue ex eu lorem.</p>
      </div>
      <div class="video">
        <h2>Formation Video</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-4">
      <div class="author-info">
        <img src="assets/img/img.png" alt="Author Avatar">
        <div class="author-details">
          <h2>John Doe</h2>
          <p>Web Developer</p>
        </div>
        <div class="author-bio">
          <h3>About the Author</h3>
          <p>John is a web developer with over 10 years of experience. He specializes in building dynamic and responsive websites using the latest web technologies. He is also an avid learner and loves to share his knowledge with others.</p>
        </div>
      </div>
    </div>
  </div>
</div>
