<h2 mat-dialog-title>{{ data.title }}</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-dialog-content>
    <mat-form-field>
      <input formControlName="password" matInput placeholder="New Password" type="password">
      <mat-error>Password is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="confirmPassword" matInput placeholder="Confirm Password" type="password">
      <mat-error>Confirm Password is required</mat-error>
      <mat-error>Passwords must match</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button (click)="dialogRef.close()" mat-button type="button">Cancel</button>
    <button [disabled]="form.invalid" color="primary" mat-button type="submit">Confirm</button>
  </mat-dialog-actions>
</form>


