<div class="example-form">
  <div mat-dialog-title class="header-title">
    <button aria-label="Example icon button with a menu icon" color="accent" mat-mini-fab>
      <div class="logo">
        <img alt="Logo" src="assets/img/SkillsUp (2).png" routerLink="/home">
      </div>
    </button>
    <h1><b> Creat New Post </b></h1>
    <a style="margin-left: 400px" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </a>
  </div>
  <mat-divider></mat-divider>

  <mat-stepper orientation="horizontal"linear>
    <form  [formGroup]="formationForm">
    <mat-step [stepControl]="formationForm">


        <div class="content" mat-dialog-content>
          <mat-card>
            <mat-card-content>

              <mat-form-field class="example-full-width">
                <mat-label>Title*</mat-label>
                <input matInput placeholder="Ex. JAVA.." type="text" formControlName="title">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Description*</mat-label>
                <textarea matInput placeholder="Ex. motivate your Team with nice Description..."
                          formControlName="description"></textarea>
              </mat-form-field>

              <mat-form-field>
                <mat-label>
                  <i class="fa fab fa-youtube" style="color: red"></i>
                </mat-label>
                <mat-label> Video link</mat-label>
                <input matInput placeholder="Ex. http://www.youtube.com/..." type="text" formControlName="link">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label> Select Group*</mat-label>
                <mat-select formControlName="groupName">
                  <mat-option *ngFor="let grs of groupNames" [value]="grs">
                    {{grs}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <mat-radio-group aria-label="Select an option" formControlName="type">
                <mat-label></mat-label>
                <mat-radio-button value="cour" (click)="cour()">Cour</mat-radio-button>
                <mat-radio-button value="session" (click)="session()">Session</mat-radio-button>
              </mat-radio-group>
            </mat-card-content>
          </mat-card>


          <div class="session" *ngIf="sessionOpen">
            <mat-card>
              <mat-form-field class="example-full-width">
                <mat-label><i class="fa fab fa-slack-hash"></i> Meet link</mat-label>
                <input matInput placeholder="Google Meet link " formControlName="meetlink">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label> Duration</mat-label>
                <input matInput placeholder="2 h " formControlName="duree">
              </mat-form-field>
              <mat-card-content>
                <mat-form-field appearance="fill">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateSe">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </mat-card-content>
            </mat-card>

          </div>

          <mat-card style="margin-top: 5px">
            <mat-card-content>
              <b>Add For Your Post </b>
              <button mat-icon-button (click)="openUploadDialog()">
                <i class="fa fa-sharp fa-light fa-image" style="color: blueviolet"></i>
              </button>
              <input type="file" class="file-input"
                     [accept]="requiredFileType"
                     (change)="onFileSelected($event)" #fileUpload>

              <button mat-icon-button (click)="fileUpload.click()">
                <i class="fa fa-thin fa-file-pdf" style="color: red"></i>
              </button>
              <button mat-icon-button (click)="fileUpload.click()">
                <i class="fa fas fa-file-word" style="color: #0d6efd"></i>
              </button>
            </mat-card-content>
          </mat-card>

        </div>
          <div>
            <button  color="primary" mat-raised-button   matStepperNext>Next</button>
          </div>

    </mat-step>
    <mat-step >

      <div class="content" mat-dialog-content>
            <app-quizz-form (newItemEvent)="addItem($event)"></app-quizz-form>
      </div>

        <div>
          <button color="primary" mat-raised-button matStepperPrevious>Back</button>
          <button color="accent" mat-raised-button matStepperNext  (click)="onFormationSubmit()">Post</button>
        </div>

    </mat-step>
    </form>
  </mat-stepper>








</div>
